{% extends "snippets/base.html" %}

{% block content %}
    <!-- partial:partials/_navbar.html -->
    {% include "snippets/navbar.html" %}
    <!-- partial -->

    <div class="container-fluid page-body-wrapper">
        <div class="row">
            <!-- partial:partials/_sidebar.html -->
            <div class="col-lg-3">
                {% include "snippets/sidebar.html" %}
            </div>
            <!-- partial -->

            <div class="col-lg-9">
                <div class="main-panel">
                    <div class="content-wrapper">
                        <!-- <div class="d-xl-flex justify-content-between align-items-start">
                            <h2 class="text-dark font-weight-bold mb-2"> Overview dashboard </h2>
                        </div> -->
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex justify-content-between mb-4">
                                    <h4 class="card-title">Appointments</h4>
                                    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addAppointmentModal">Add Appointment</button>
                                </div>
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>First Name</th>
                                                <th>Last Name</th>
                                                <th>Email</th>
                                                <th>Phone Number</th>
                                                <th>Address</th>
                                                <th>Password</th>
                                                <th>Problem</th>
                                                <th>Appointment With</th>
                                                <th>Appointment Date</th>
                                                <th>Status</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for appointment in appointments %}
                                                <tr>
                                                    <td>{{ appointment.first_name }}</td>
                                                    <td>{{ appointment.last_name }}</td>
                                                    <td>{{ appointment.email }}</td>
                                                    <td>{{ appointment.phone_number }}</td>
                                                    <td>{{ appointment.address }}</td>
                                                    <td>{{ appointment.password }}</td>
                                                    <td>{{ appointment.problem }}</td>
                                                    <td>{{ appointment.appointment_with }}</td>
                                                    <td>{{ appointment.appointment_date }}</td>
                                                    <td>{{ appointment.status }}</td>
                                                    <td>
                                                       <!-- <a href="{% url 'appointment' appointment.id %}"><i class="fa-regular fa-eye"></i></a>
                                                        <a href="{% url 'edit_appointment' appointment.id %}" class="btn btn-warning">Edit</a> 
                                                        <a href="{% url 'delete_appointment' appointment.id %}" class="btn btn-danger">Delete</a> 
                                                         -->
                                                        <a href=""><i class="fa-regular fa-eye"></i></a>
                                                        <a href="" class="btn btn-warning">Edit</a> 
                                                        <a href="" class="btn btn-danger">Delete</a> 
                                                        

                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- content-wrapper ends -->
                    <!-- partial:partials/_footer.html -->
                    {% include "snippets/footer.html" %}
                    <!-- partial -->
                </div>
                <!-- main-panel ends -->
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="addAppointmentModal" tabindex="-1" aria-labelledby="addAppointmentModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addAppointmentModalLabel">Add Appointment</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Bootstraped Doctor Form inside Modal -->
                    <form method="post" action="">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
