{% extends "snippets/base.html" %}

{% block content %}

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>

<!-- partial:partials/_navbar.html -->
{% include "snippets/navbar.html" %}

<!-- partial -->
<div class="container-fluid page-body-wrapper">
   <!-- partial:partials/_sidebar.html -->
   {% include "snippets/sidebar.html" %}
   <!-- partial -->
   <div class="main-panel">
      <div class="content-wrapper">
         <div class="d-xl-flex justify-content-between align-items-start">
            <!-- <h2 class="text-dark font-weight-bold mb-2"> Overview dashboard </h2> -->
         </div>
         <div class="row">
            <div class="col-md-12">
               <div class="col-lg-12 grid-margin stretch-card">
                  <div class="card">
                     <div class="card-body">
                        <h4 class="card-title">Child Details</h4>
                        {% include "snippets/messages.html" %}

                        <div class="container">
                           <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                        </div>

                        <div class="container mt-4">
                           <table class="table table-bordered">
                              <thead>
                                 <tr>
                                    <th>Month</th>
                                    <th style="background-color: rgb(220,20,60);">BAD (Kg)</th>
                                    <th style="background-color: rgb(128,128,128);">WEAK (Kg)</th>
                                    <th style="background-color: rgb(50,205,50);">GOOD (Kg)</th>
                                 </tr>
                              </thead>
                              <tbody>
                                 <tr><td>1</td><td>0 - 2.8</td><td>2.9 – 3.5</td><td>3.6 - 5</td></tr>
                                 <tr><td>3</td><td>0 – 3.5</td><td>3.6 – 4.5</td><td>4.6 - 6</td></tr>
                                 <tr><td>6</td><td>0 – 4.5</td><td>4.6 – 5.5</td><td>5.6 - 8</td></tr>
                                 <tr><td>9</td><td>0 – 5.5</td><td>5.6 - 7</td><td>7.1 - 9</td></tr>
                                 <tr><td>12</td><td>0 - 6</td><td>6.1 – 7.5</td><td>7.6 - 10</td></tr>
                                 <tr><td>15</td><td>0 - 7</td><td>7.1 – 8.5</td><td>8.6 - 11</td></tr>
                                 <tr><td>18</td><td>0 - 7.5</td><td>7.6 - 9</td><td>9.1 – 11.5</td></tr>
                                 <tr><td>21</td><td>0 - 7.8</td><td>7.9 – 9.5</td><td>9.6 - 12</td></tr>
                                 <tr><td>24</td><td>0 - 8</td><td>8.1 – 9.8</td><td>9.9 – 12.5</td></tr>
                                 <tr><td>27</td><td>0 - 8.5</td><td>8.6 - 10</td><td>10.1 - 13</td></tr>
                                 <tr><td>30</td><td>0 - 9</td><td>9.1 – 10.5</td><td>10.6 – 13.5</td></tr>
                                 <tr><td>33</td><td>0 - 9.5</td><td>9.6 - 11</td><td>11.1 - 14</td></tr>
                                 <tr><td>36</td><td>0 - 9.7</td><td>9.8 – 11.5</td><td>11.6 – 14.5</td></tr>
                                 <tr><td>39</td><td>0 - 10</td><td>10.1 – 12</td><td>12.1 - 15</td></tr>
                                 <tr><td>42</td><td>0 - 10.2</td><td>10.3 – 12.5</td><td>12.6 – 15.5</td></tr>
                                 <tr><td>45</td><td>0 - 10.5</td><td>10.6 – 13</td><td>13.1 - 16</td></tr>
                                 <tr><td>48</td><td>0 - 10.8</td><td>10.9 – 13.5</td><td>13.6 – 16.5</td></tr>
                                 <tr><td>51</td><td>0 - 11</td><td>11.1 – 14</td><td>14.1 - 17</td></tr>
                                 <tr><td>54</td><td>0 - 11.5</td><td>11.6 – 14.5</td><td>14.6 – 17.2</td></tr>
                                 <tr><td>57</td><td>0 - 11.8</td><td>11.9 – 14.6</td><td>14.7 – 17.5</td></tr>
                                 <tr><td>60</td><td>0 - 12</td><td>12.1 – 15</td><td>15.1 - 18</td></tr>
                              </tbody>
                           </table>
                        </div> <br> <br>

                        <div class="container">
                           <div class="formr">
                              <form action="" method="POST">
                                 <div class="d-flex flex-wrap">
                                    {% csrf_token %}
                                    {% for field in form %}
                                    <div class="col-md-2">
                                       <div class="form-group p-1">
                                          {{field.label}}
                                          {{ field }}
                                       </div>
                                    </div>
                                    {% endfor %}
                                    <br>
                                    {% if not request.user.patient %}
                                    <button type="submit" name="child_weight_form_save" class="btn btn-primary">SAVE</button>
                                    {% endif %}
                                 </div>
                              </form>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- content-wrapper ends -->
      <!-- partial:partials/_footer.html -->
      {% include "snippets/footer.html" %}
      <!-- partial -->
   </div>
   <!-- main-panel ends -->
</div>
<!-- page-body-wrapper ends -->
</div>

<!-- Modal -->
<div class="modal fade" id="addPatientModal" tabindex="-1" aria-labelledby="addPatientModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <div class="d-flex justify-content-between">
               <h5 class="modal-title" id="addPatientModalLabel">Add Patient</h5>
               <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
         </div>
         <div class="modal-body">
            <!-- Bootstraped Patient Form inside Modal -->
            <form method="post" action="">
               {% csrf_token %}
               {{ form.as_p }}
               <button type="submit" class="btn btn-primary">Submit</button>
            </form>
         </div>
      </div>
   </div>
</div>

<script>
   console.log(JSON.parse('{{ weight_data_json|escapejs }}'));
   console.log("jj")

   // Data for children's weight growth from age 0 to 15 months
   var weightData = JSON.parse('{{ weight_data_json|escapejs }}');

   // Now you can use weightData in your JavaScript code
   console.log(weightData);

   // Extracting data for x-axis and y-axis
   var ages = weightData.map(data => data.age);
   var weights = weightData.map(data => data.weight);

   // Creating the Highcharts graph
   Highcharts.chart('container', {
      chart: {
         type: 'area'
      },
      title: {
         text: "Children's Weight Growth from Age 0 to 5"
      },
      xAxis: {
         title: {
            text: 'Age (Months)'
         },
         categories: ages
      },
      yAxis: {
         title: {
            text: 'Weight (kg)'
         },
         // plotBands: [{
         //    from: 0,
         //    to: 3,
         //    color: 'rgb(220,20,60)', // Bad health
         //    label: {
         //       text: 'Mbaya'
         //    }
         // }, {
         //    from: 3,
         //    to: 6,
         //    color: 'rgb(128,128,128)', // Moderate health
         //    label: {
         //       text: 'Hafifu'
         //    }
         // }, {
         //    from: 6,
         //    to: 60,
         //    color: 'rgb(50,205,50)', // Good health
         //    label: {
         //       text: 'Nzuri'
         //    }
         // }]
      },
      series: [{
         name: 'Weight',
         data: weights
      }]
   });
</script>

{% endblock content %}
