{% extends "snippets/base.html" %}

{% block content %}
    {% include "snippets/navbar.html" %}
    <div class="container-fluid page-body-wrapper">
        {% include "snippets/sidebar.html" %}
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Delete Doctor</h4>
                                <p>Are you sure you want to delete this doctor?</p>
                                <form method="post">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-danger">Delete</button>
                                    <a href="{% url 'doctors' %}" class="btn btn-secondary">Cancel</a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% include "snippets/footer.html" %}
        </div>
    </div>
{% endblock content %}
